<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.dao.RankMapper" >
  <resultMap id="BaseResultMap" type="com.unicom.entity.Rank" >
    <constructor >
      <idArg column="rank_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="talent_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    rank_id, talent_rank
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unicom.entity.Rank" >
    insert into t_rank (rank_id, talent_rank)
    values (#{rankId,jdbcType=INTEGER}, #{talentRank,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unicom.entity.Rank" >
    insert into t_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rankId != null" >
        rank_id,
      </if>
      <if test="talentRank != null" >
        talent_rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rankId != null" >
        #{rankId,jdbcType=INTEGER},
      </if>
      <if test="talentRank != null" >
        #{talentRank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.entity.Rank" >
    update t_rank
    <set >
      <if test="talentRank != null" >
        talent_rank = #{talentRank,jdbcType=VARCHAR},
      </if>
    </set>
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.entity.Rank" >
    update t_rank
    set talent_rank = #{talentRank,jdbcType=VARCHAR}
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>
</mapper>